@{
    ViewBag.Title = "About Us";
}

<h2>HarborFirstTest</h2>
<p>
     Une application très basique développée dans le but de tester comment s'effectue
     le déploiement sur AppHarbor et comment y configurer la base de données.
</p>

<h3>Technologies</h3>
<ul>
    <li>ASP.NET MVC 3</li>
    <li>.NET Framework 4</li>
    <li>Entity Framework Code First 4.3.1</li>
</ul>

<h3>Liens</h3>
<ul>
    <li>L'application déployée : <a href="http://harborfirsttest.apphb.com/">http://harborfirsttest.apphb.com/</a>
    </li>
    <li>Billet avec toutes les explications : <a href="http://blog.pagesd.info/post/2012/05/31/application-asp-net-mvc-avec-ef-code-first-sur-appharbor">http://blog.pagesd.info/post/2012/05/31/application-asp-net-mvc-avec-ef-code-first-sur-appharbor</a>
    </li>
</ul>